
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #10141b;
    align-items: center;
}
nav h2{
    color: #fff;
    margin-left: 40px;
}
nav a {
    text-decoration: none;
}
nav span{
    cursor: pointer;
    margin-left: 40px;
    font-size: .85rem;
    text-transform: uppercase;
    
}
nav span:hover{
    color: #fff;
    border-bottom: 2px solid #EE9B00;
    padding-bottom: 5px;
}
span #HomeLight, #MoviesLight, #TrendingLight, #PricingLight{
    color: #fff;
}
span #HomeLight:hover, #MoviesLight:hover, #TrendingLight:hover, #PricingLight:hover{
    border-bottom: 2px solid #ff206e;
}
#navBarColor{
    background-color: #38bdab;
    transition: .6s;
}
.nav-options{
    display: flex;
    align-items: center;
}
#heading{
    color: #ff206e;
}
#navBarColor span:hover{
    border-bottom: 2px solid #ff206e;
    padding-bottom: 5px;
}
.input-group{
    display: flex;
    align-items: center;
}
#Color-switcher{
    position: relative;
    margin-right: 40px;
    background-color: #413E44;
    width: 80px;
    height: 40px;
    border-radius: 20px;
}
#Color-switcher-mover{
    position: absolute;
    left: 5px;
    top: 4px;
    background-color: #fff;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: .6s;
}
#Color-switcher-moved{
    position: absolute;
    background-color: #fff;
    left: 40px;
    top: 4px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: .6s;
}
.input-group input{
    position: relative;
    width: 323px;
    height: 4vh;
    border-radius: 16px;
    border: none;
    margin-right: 30px;
}
.input-group input[type='text']{
    padding-left: 17px;
    font-size: 1rem;
    color: black;
}
.input-group input::placeholder{
    color: black;
}
.input-group input:focus{
    outline: none;
}
#search{
    position: absolute;
    margin-left: 310px;
}
.mainBgColor{
    background-color:#0c1e25;
    width: 100%;
    height: 2450px;
}
.secondaryBgColor{
    background-color: #fff;
    width: 100%;
    height: 2450px;
}
.image{
    width: 270px;
    height: 400px;
}
.overview{
    width: 400px;
    display: none;
}
.box{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 20px;
    gap: 35px;
    margin-left: 10px;
}
.container{
    width: 270px;
    height: 570px;
    background-color:#19222d
    
}
.container:hover .overview{
    display: block;
    width: 200px;
    position: absolute;
    color: white;
    margin-left: 30px;
    font-size: 13px;
    
}
.container:hover .details{
    display: none;
}
.details{
    text-align: center;
    color: white;
}
.login{
    height: 400px;
    width: 300px;
    border: 1px solid black;
    position: relative;
    left: 600px;
    top: 100px;
    border-radius: 5px;
    color: white;
    background-color:black;
}
.email{
    position: absolute;
    width: 200px;
    height: 30px;
    top: 70px;
    left: 40px;
    border-radius: 5px;
    border: 1px solid  rgb(24, 24, 24);
    background-color: rgb(24, 24, 24);
    color: white;
}
.password{
    position:absolute;
    width: 200px;
    height: 30px;
    top: 120px;
    left: 40px;
    border-radius: 5px;
    border: 1px solid  rgb(24, 24, 24);
    background-color:  rgb(24, 24, 24);
    color: white;
}
.confirm-password{
    position:absolute;
    width: 200px;
    height: 30px;
    top: 170px;
    left: 40px;
    border-radius: 5px;
    border: 1px solid  rgb(24, 24, 24);
    background-color:  rgb(24, 24, 24);
    color: white;
}
.Login{
    position:absolute;
    width: 205px;
    height: 30px;
    top: 220px;
    left: 40px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: red;
    color: white;
}
.Logins{
    position:absolute;
    width: 205px;
    height: 30px;
    top: 175px;
    left: 40px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: red;
    color: white;
}
.email-icon{
    position: absolute;
    top: 80px;
    left: 200px;
}
.password-icon{
    position: absolute;
    top: 130px;
    left: 200px;
}
::placeholder{
    position: absolute;
    left: 10px;
    color: rgb(69, 68, 68);
    font-weight: 600;
}
.heading{
    position: absolute;
    left: 40px;
    }
    .para{
        position: absolute;
        top: 50px;
        left: 10px;
        font-size: 13px;
    }
.signUp{
    position: absolute;
    height: 30px;
    width: 80px;
    left: 90px;
    border-radius: 5px;
    border: 1px solid rgb(28, 28, 28);
    background-color:rgb(46, 46, 46);
}
.guest{
    position: absolute;
    height: 35px;
    width: 180px;
    border: 1px solid rgb(28, 28, 28);
    border-radius: 50px;
    background-color: rgb(28, 28, 28);
    top: 270px;
    left: 50px;
    color: white;
}
.guest p{
    position: absolute;
    top: -8px;
    left: 50px;
    font-size: 14px;

}
.google{
    position: absolute;
    height: 35px;
    width: 190px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    top: 330px;
    left: 50px;
    color: black;
}
.google p{
    font-size: 14px;
    position: absolute;
    left: 20px;
    top: -7px;
}
.SignUp{
  text-decoration: none;
  color: white;
  margin-left: 40px;
}
.fav{
   /* margin-left: 250px; */
   /* margin-top: 20px; */
   color: rgb(248, 4, 4);
   position: absolute;
   left: 240px;
   z-index: 1;
   top: 10px;

}
.heart{
    position: relative;
}

